<?xml version="1.0" encoding="utf-8"?>
<Configuration>
  <Project ProjectName="济青新建高铁" ProjectUrl ="JQMIS.CN" UserName="xushiyang" ProjectLocalPath="jiqing\">
	</Project>
  <Project ProjectName="蒙内标轨铁路" ProjectUrl ="www.railmis.com/mnmis" UserName="xushiyang" ProjectLocalPath="mn\">
	</Project>
  <Project ProjectName="大西铁路" ProjectUrl ="www.railmis.cn/jqmis" UserName="xushiyang" ProjectLocalPath="daxi\">
	</Project>
</Configuration>

